<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/" method="post" enctype="multipart/form-data">
    {% csrf_token %}

<table width="500" class="table" border="1" align="center">
  
 
  <tr>
    <th scope="row">Attendance:</th>
    <td><label for="attend"></label>
      <select name="Atnd" size="1" id="attend" style="width:100%;" >
          {% for i in data %}
        <option value="{{ i.id }}">{{ i.File }}</option>
    {% endfor %}
      </select></td>
  </tr>
  <tr>
    <th scope="row">Progress:</th>
    <td><label for="prgrs"></label>
      <select name="Progress" size="1" id="prgrs" style="width:100%;" >
          {% for i in data1 %}
        <option value="{{ i.id }}">{{ i.Prgrs }}</option>
   {% endfor %}
      </select></td>
  </tr>

   <td colspan="2">
<div align="center">
    <button type="submit" name="share">SHARE</button>

</div>
    </td>
</table>

</form>
</body>
</html>
