<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
<h4 align="left">InternalGuide HomePage</h4>
<table width="200" border="1"  align="left">
  <tr>
    <td><a href="/ViewAssignedGrp" name="AssignedGroup">ViewAssignedGroup</a></td>
  </tr>
  <tr>
    <td><a href="/ViewExternalOrg" name="ExternalOrganization">ExternalGuide</a></td>
  </tr>
  <tr>
    <td><a href="" name="externaladd">AddExternalGuide</a></td>
  </tr>
  <tr>
    <td><a href="/ViewAttendanceInternal" name="Attendance">ViewAttendance</a></td>
  </tr>
  <tr>
    <td><a href="/ViewProgressInternal" name="Progress">ViewProgress</a></td>
  </tr>
  <tr>
    <td><a href="/ViewProjectSchedule" name="ProjectSchedule">ViewProjectSchedule</a></td>
  </tr>






</table>
</form>
</body>
</html>