{% extends 'Admin/AdminHome.html' %}
{% block body %}
<form action="/AddGroup_post" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Adding Groups</h6>
            </div>
<table style="width: 600px; height: 300px; background: #2bc5d4; color: black; border-bottom-color: black; border-top-color: black; border-right-color: black; border-left-color: black;"  class="table" border="1" align="center">
  <tr>
    <th scope="row">GroupNumber:</th>
    <td><label for="number"></label>
      <input type="text" name="Number" id="number" style="width:95%; " required/></td>
  </tr>
<tr>
    <th scope="row">Batch:</th>
    <td><label for="batch"></label>
      <select name="Batch" size="1" id="batch" style="width:95%;" required >
          {% for i in data1 %}
        <option value="{{ i.id }}">{{ i.Batch }}</option>
        {% endfor %}
      </select></td>
  </tr>
  
    <tr>
    <th scope="row">TopicName:</th>
    <td><label for="dob"></label>
      <input type="text" name="topic" id="top" style="width:95%; " required/></td>

  </tr>
     <tr>
    <th scope="row">Password:</th>
    <td><label for="pass"></label>
      <input type="Password" name="Pass" id="pass" placeholder="Enter Your Password" style="width:95%; " required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/></td>
  </tr>
 


  <tr>
    <th scope="row">Email:</th>
    <td><label for="eml"></label>
      <input type="email" name="Email" id="eml"  style="width:95%;" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" /></td>
  </tr>
<tr>
    <th scope="row">InternalGuide:</th>
    <td><label for="internal"></label>
      <select name="intguide" size="1" id="guide" style="width:95%;" required>
          {% for i in data %}
        <option value="{{ i.id }}">{{ i.Name }}</option>
        {% endfor %}
      </select></td>
  </tr>

{#{{ i.Status }}#}
{#{% if i.Status == 'Pending' %}#}
{#    <tr>#}
{#    <th scope="row">ExternalGuide:</th>#}
{#    <td><label for="external"></label>#}
{#      <select name="extguide" size="1" id="exguide" style="width:100%;" >#}
{##}
{#  {% for i in data1 %}#}
{##}
{#<option value="{{ i.id }}">{{ i.Name }}</option>#}
{#          {% endfor %}#}
{##}
{#      </select></td>#}
{#  </tr>#}
{#    {% else %}#}
{##}
{#{% endif %}#}
   <td colspan="2">
<div align="center">
    <button type="submit" name="add" style="color: black;" class="btn btn-outline-secondary btn-success">ADD</button>

</div>
    </td>
</table>

</form>
{% endblock %}