{% extends 'Admin/AdminHome.html' %}
{% block body %}
<form action="/AddScheduleSubmisssion_post" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Schedule Submission</h6>
            </div>
<table style="width: 600px; height: 150px; background: #2bc5d4; color: black; border-bottom-color: black; border-top-color: black; border-right-color: black; border-left-color: black;"  class="table" border="1" align="center">
  
 <tr>
    <th scope="row">Subject:</th>
    <td><label for="subject"></label>
      <input type="text" name="Subject" id="subject" style="width:99%; " required/></td>
  </tr>

<tr>
    <th scope="row">Date:</th>
    <td><label for="date"></label>
      <input type="text" name="date" id="DATE" style="width:99%; " required/></td>
  </tr>
    <tr>
    <th scope="row">Time:</th>
    <td><label for="date"></label>
      <input type="time" name="time" id="TIME" style="width:99%; " required/></td>
  </tr>

<tr>
    <th scope="row">Batch:</th>
    <td><label for="batch"></label>
      <select name="Batch" size="1" id="batch" style="width:99%;" required >

       {% for i in batch %}
      <option value="{{ i.id }}">{{ i.Batch }}</option>

          {% endfor %}
      </select></td>
  </tr>
   <td colspan="2">
<div align="center">
    <button type="submit" name="add" style="color: black;" class="btn btn-outline-secondary btn-success">ADD</button>

</div>
    </td>
</table>

</form>
{% endblock %}