<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post">
<h4 align="left">Admin HomePage</h4>
<table width="200" border="1"  align="left">
  <tr>
    <td><a href="/AddGuide" name="AddGuide">InternalGuideAdd</a></td>
  </tr>
  <tr>
    <td><a href="/ViewGuide" name="ViewGuide">InternalGuideView</a></td>
  </tr>
  <tr>
    <td><a href="/AddExternal" name="externaladd">AddExternalGuide</a></td>
  </tr>
  <tr>
    <td><a href="/ViewExternal" name="externalview">ViewExternal</a></td>
  </tr>
  <tr>
    <td><a href="/Batch_student" name="Batch">AddBatch</a></td>
  </tr>
  <tr>
    <td><a href="/AddStudent" name="StudentAdd">AddStudents</a></td>
  </tr>
  <tr>
    <td><a href="/ViewStudent" name="StudentView">ViewStudents</a></td>
  </tr>
    <tr>
    <td><a href="/AddGroup" name="addgroup">AddGroup</a></td>
  </tr>
     <tr>
    <td><a href="/ViewGroup" name="ViewGroup">ViewGroup</a></td>
  </tr>
     </tr>
     <tr>
    <td><a href="/ViewAttendance" name="ViewAttendance">ViewAttendance</a></td>
  </tr>
     <tr>
    <td><a href="/ViewProgress" name="Progress">ViewProgress</a></td>
  </tr>
     <tr>
    <td><a href="/AddScheduleSubmission" name="ScheduleAdd">AddScheduleSubmission</a></td>
  </tr>
    <tr>
    <td><a href="/ViewScheduleSubmission" name="ScheduleView">ViewScheduleSubmission</a></td>
  </tr>








</table>
</form>
</body>
</html>
