{% extends 'Admin/AdminHome.html' %}
{% block body %}
    <script type="text/javascript">
var xmlHttp;
            function attendance(eid){
               //alert(eid);
                if (typeof XMLHttpRequest != "undefined"){
                xmlHttp= new XMLHttpRequest();
                }
                else if (window.ActiveXObject){
                    xmlHttp= new ActiveXObject("Microsoft.XMLHTTP");
                }
                if (xmlHttp==null){
                    alert("Browser does not support XMLHTTP Request")
                    return;
                }
                var url="/group/"
                url += eid
                xmlHttp.onreadystatechange = attendanceview;
                xmlHttp.open("GET", url, true);
                xmlHttp.send(null);
            }


            function attendanceview(){
                if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
                    document.getElementById("Grp").innerHTML=xmlHttp.responseText

                }

            }
</script>
        <form  method="post" action="/attendanceadmin">
{% csrf_token %}


  <table style="width: 600px; height: 150px; background: #2bc5d4; color: black; border-bottom-color: black; border-top-color: black; border-right-color: black; border-left-color: black;"  class="table" border="1" align="center">
    <tr>
      <th>Batch</th>
      <td><label for="batch"></label>
        <select name="Batch" id="batch"  style="width:95%" onchange="attendance(this.value)">
        <option value="">--SELECT</option>
            {% for i in bat %}
            <option value="{{ i.id }}">{{ i.Batch  }}</option>
    {% endfor %}
      </select>
      </td>
    </tr>
    <tr>
      <th scope="row">Group</th>
      <td><label for="Grp"></label>
        <select name="GRP" id="Grp" style="width:95%">
      </select></td>
    </tr>
   <td colspan="2">
    <div align="center">
    <button type="submit" name="SERACH" style="color: black;" class="btn btn-outline-secondary btn-success">SEARCH</button>
</div>
</td>
  </table>
</form>

<form action="" method="post">
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Attendance</h6>
            </div>
<table style="width: 600px; color:black;" class="table" border="1" align="center">
  <tr style="border: 1000px;background: #2bc5d4; color: black;">
    <th scope="row">Id</th>
    <th>Date</th>
    <th>File</th>

    
  </tr>
   {% for i in att %}
  <tr>
    <td>{{ forloop.counter }}</td>

    <td>{{ i.Date }}</td>
    <td><a href="#">{{ i.File }}</a></td>
{#   <td><a href="remark/{{ i.id }}" class="btn btn-success" >Remark</a></td>#}
    
  </tr>
   {% endfor %}
</table>

</form>
{% endblock %}